@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
}

#root {
  display: flex;
  flex-direction: row;
}

section {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: calc(100% - 50px);
}

section button {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

section button i {
  color: white;
}

table {
  margin: 5px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid white;
  padding: 5px 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

table th {
  height: 40px;
  min-width: 30px;
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
  font-weight: 700;
}

table tr.selected {
  background: rgba(0, 255, 0, 0.15);
}

table td {
  height: 30px;
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
}

table td:nth-child(2) {
  text-align: left;
}

.background {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background form {
  position: relative;
  top: 20px;
  left: 20px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 400px;
  height: 200px;
  padding: 10px;
  background: #f0f0f0;
  z-index: 2;
}

.background form div.for-field {
  width: 100%;
  padding: 5px;
}

.background form div.for-field label {
  display: inline-block;
  color: #333;
  width: 100px;
  margin-right: 10px;
}

.background form div.for-field input {
  display: inline-block;
  width: 260px;
  color: gray;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  outline: none;
}

.background form div.for-field:first-child {
  margin-top: 25px;
}

.background form div.for-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.background form div.for-buttons button {
  background: #03a9f4;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 0px 15px;
  cursor: pointer;
}

.background form div.close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.background form div.close-button::before, .background form div.close-button::after {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  width: 2px;
  height: 32px;
  background-color: #333;
}

.background form div.close-button::before {
  -webkit-transform: translateY(-3px) rotate(45deg);
          transform: translateY(-3px) rotate(45deg);
}

.background form div.close-button::after {
  -webkit-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
}
